[submodule "backend"]
	path = backend
	url = https://github.com/duo-route/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/duo-route/frontend.git
[submodule "app"]
	path = app
	url = https://github.com/duo-route/app.git
